
.table-container {
    padding: 0 20px;
    overflow-x: auto;
}

.table {
    margin: 25px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-collapse: collapse;
    table-layout: fixed;
    @include border;
    border-bottom: 2px solid $navyBlue;
    tr {
        &:hover {
            background: lighten($darkGrey, 70%);
            td {
                color: $darkGrey;
            }
        }
    }
    th,
    td {
        color: lighten($darkGrey, 30%);
        @include border;
        padding: 12px 35px;
        font-size: 16px;
        border-collapse: collapse;
        @media only screen and(max-width: 1084px) {
            padding: 12px 15px;
            font-size: 12px;
        }
        &.table__idtd {
            padding: 12px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    th {
        background: $navyBlue;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
    }
    &__remove-button {
        font-size: 10px;
        margin-left: 15px;
        &:hover {
            cursor: pointer;
        }
    }
}

.modal__footer.modal__footer--surveys {
    text-align: center;
    .modal__button.modal__button--surveys {
        margin: 0 10px;
        width: auto;
    }

}

.warning-info {
    text-align: center;
    font-size: 18px;
    margin-top: 60px;
    color: $darkRed;
}
    @media only screen and (max-width: 760px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .table {
            &tr {
                border: 1px solid #ccc;
            }
            & td,
            td.table__idtd {
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                display: flex;
                justify-content: flex-end;
                padding-right: 10px;
                font-size: 16px;       
            }
            & td.table__idtd{
                border-bottom-color: lighten($darkGrey, 30%);
            }
            & td:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
        }
        & td:nth-of-type(1):before {
            content: "First Name:";
        }
        & td:nth-of-type(2):before {
            content: "Last Name:";
        }
        & td:nth-of-type(3):before {
            content: "Login:";
        }
        & td:nth-of-type(4):before {
            content: "City:";
        }
        & td:nth-of-type(5):before {
            content: "Email:";
        }
        & td:nth-of-type(6):before {
            content: "ID:";
            

        }
        
    }
