$grey: #B9B9B9;
$darkGrey: #393f45;
$navyBlue: #2a61b3;
$darkRed: #B82323;
@mixin border {
    border: 1px solid lighten($darkGrey, 60%);
}

;
@mixin button {
    margin-left: 128px;
    background-color: $navyBlue;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 11px 8px 11px;
    box-shadow: 0 2px 0 darken($navyBlue, 7%), 0 2px 4px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background-color: darken($navyBlue, 5%);
        box-shadow: 0 2px 0 darken($navyBlue, 10%), 0 2px 4px 1px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
}

@font-face {
    font-family: "Elenar-Book";
    src: url("../fonts/Elenar-Book.otf") format('OpenType');
}

@import 'surveys';
@import 'normalize';

body {
    background-color: #fefefe;
    color: $darkGrey;
    font-family: 'Elenar-Book';
}

* {
    box-sizing: border-box;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-family: 'Elenar-Book';
    font-size: 20px;
    margin-top: 20px;
}

.logoImg {
    width: 250px;
    max-width: 100%;
}

.form {
    font-size: 13px;
    padding: 8px 10px;
    display: flex;
    max-width: 880px;
    width: 100%;
    flex-wrap: wrap;
    @include border;
    position: relative;
    &__column {
        flex: 1;
        @media screen and (max-width: 768px) {
            width: 100%;
            flex: none;
            text-align: right;
        }
    }
    &__label {
        display: block;
        margin-bottom: 20px;
        margin-top: 7px;
        font-weight: bold;
        color: darken($darkGrey, 5%);
        @media screen and (max-width: 768px) {
            text-align: left;
        }
        &--checkbox {
            text-align: right;
            padding-right: 70px;
            margin-bottom: 10px;
            @media screen and (max-width: 930px) {
                padding-right: 35px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 5px;
                ;
            }
        }
    }
    &__input {
        display: block;
        padding-left: 5px;
        color: $darkGrey;
        background-color: #fdfcfc;
        margin-top: 5px;
        height: 30px;
        border-radius: 3px;
        @include border;
        width: 197px;
        &:required {
            box-shadow: none;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        &.warning-input {
            border-bottom: 1px solid $darkRed;
        }
        &--checkbox {
            display: inline-block;
            height: 13px;
            width: 13px;
            margin-right: 5px;
        }
    }
    &__select {
        display: block;
        margin-top: 5px;
        height: 30px;
        width: 197px;
        border-radius: 3px;
        background-color: #fdfcfc;
        color: $darkGrey;
        @include border;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__agreement-text {
        display:block;
        margin-bottom: 0;
        margin-top: 8px;
        text-align: left;
        line-height: 18px;
        color: lighten( $darkGrey, 8%);
    }
    &__button {
        @include button;
        @media screen and (max-width: 768px) {
            margin: 0 20px 10px 0;
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba($darkGrey, .5);
    visibility: hidden;
    &.background-visible {
        visibility: visible;
    }
    &__container {
        position: absolute;
        max-width: 90%;
        width: 600px;
        background-color: #fefefe;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -800%);
        transition: .3s;
        box-shadow: 0 0 50px rgba(0, 0, 0, .7);
        border-radius: 5px;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        &.modal-visible {
            transform: translate(-50%, -25vh);
        }
    }
    &__header {
        background-color: #eeeeee;
        height: 55px;
        border-bottom: 1px solid lighten($darkGrey, 65%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
    }
    &__body {
        padding: 20px;
        border-bottom: 1px solid lighten($darkGrey, 65%);
    }
    &__footer {
        text-align: right;
        padding: 15px;
    }
    &__title {
        padding-left: 5px;
        display: inline-block;
    }
    &__icon {
        width: 23px;
        display: inline-block;
        margin-bottom: 5px;
    }
    &__button {
        @include button;
        width: 60px;
    }
}

.validate-warning {
    color: $darkRed;
    margin-top: 5px;
    width: 197px;
    font-size: 12px;
    display: none;
    &.visible-warning {
        display: block;
    }
}